<!DOCTYPE html>
<html>
<head>
	<title>PDF Invoice Plumber COC</title>
</head>

<style type="text/css">
td {
    width: 50%;
}
</style>
<body>

<table style="width: 70%; margin: 0 auto; border: 1px solid #000; padding: 0 10px 0 10px;">
	<tbody>
		<tr>
			<td style="text-align: left;">
				<img class="logo" style="width: 250px;" src="http://diyesh.com/auditit_new/pirb/assets/images/pitrb-logo.png">
			</td>
			<td style="text-align: right;">
					<p style="width: auto; display: inline-block; border: 1px solid #000; padding: 8px 30px 8px 30px;">Invoice Number</p>
					<p style="width: auto; display: inline-block; padding: 8px 30px 8px 30px; border: 1px solid #000; margin-left: -5px; border-left: none;">125689</p>
			</td>
		</tr>
		<tr>
			<td>
				<div style="border: 1px solid; width: 70%; margin-top: 40px; margin-left: 20px;">
					<p style="border-bottom: 1px solid #000; margin-top: 10px; padding: 0 10px 10px 10px; font-weight: 600;">{Plumber Billing Name}</p>
					<p>{PIRB Address 1}</p>
					<p>{PIRB Address 2}</p>
					<p>{PIRB Address 3}</p>
					<p>{PIRB Address 4}</p>
					<p>{PIRB Tel}</p>
					<p>{PIRB Email}</p>
					<p>{PIRB Company Reg No}</p>
					<p>{PIRB VAT Number}</p>
				</div>
			</td>
			<td style="text-align: right;">
				<img src="http://diyesh.com/auditit_new/pirb/assets/images/paid.jpg">
			</td>
		</tr>
		<tr>
			<td>
				<div style="border: 1px solid; width: 70%; margin-top: 40px; margin-left: 20px;">
					<p style="border-bottom: 1px solid #000; margin-top: 10px; padding: 0 10px 10px 10px; font-weight: 600;">{Plumber Billing Name}</p>
					<p>{Billing Address - Line 1}}</p>
					<p>{Billing Address - Line 2}</p>
					<p>Billing Address - Line 3}</p>
					<p>{Billing Address - Line 4}</p>
					<p>{Billing Contact Number}</p>
					<p>{PIRB Email}</p>
					<p>{PIRB Company Reg No}</p>
					<p>{PIRB VAT Number}</p>
				</div>
			</td>
			<td style="vertical-align: top;">
				<div style="margin-top: 40px; border: 1px solid #000;">
					<p style="width: 140px; display: inline-block; margin: 0px 5px 0 5px; padding: 10px;   font-size: 14px; font-weight: 600; border-right: 1px solid #000; text-align: center;">Customer Compnay Reg</p>
					<p style="width: 110px; display: inline-block; margin: 0px 5px 0 5px; padding: 10px;    font-size: 14px; font-weight: 600; border-right: 1px solid #000;">Customer VAT Reg</p>
					<p style="width: 89px; display: inline-block; margin: 0px 5px 0 5px; padding: 10px;    font-size: 14px; font-weight: 600;">Invoice Date</p>
				</div>
				<div style="border: 1px solid #000; margin-top: -1px;">
					<p style="width: 140px; display: inline-block; margin: 0px 5px 0 5px; padding: 10px;   font-size: 14px; border-right: 1px solid #000; text-align: center;">{plumber company reg}</p>
					<p style="width: 110px; display: inline-block; margin: 0px 5px 0 5px; padding: 10px;   font-size: 14px; border-right: 1px solid #000;">{plumber VAT reg}</p>
					<p style="width: 89px; display: inline-block; margin: 0px 5px 0 5px; padding: 10px;   font-size: 14px;"></p>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="margin-left: 20px; border: 1px solid; width: 30%; margin-top: 20px; text-align: center;">
					<p style="padding: 3px; margin-top: 0; margin-bottom: 10px; border-bottom: 1px solid #000;">Terms</p>
					<p style="padding: 3px; margin-top: 0; margin-bottom: 10px;">COD</p>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="border: 1px solid #000; margin: 20px;">
					<div style="border-bottom: 1px solid #000; padding: 0 20px 0 20px;">
						<p style="width: 50%; display: inline-block; border-right: 1px solid #000; margin: 0;    padding: 10px 0 10px 0;">Description</p>
						<p style="    width: 10%; display: inline-block; margin: 0; padding: 10px 0 10px 0;    border-right: 1px solid #000;text-align: center;">QTY</p>
						<p style="width: 19%;display: inline-block; margin: 0; padding: 10px 0 10px 0;    border-right: 1px solid #000; text-align: center;">Rate</p>
						<p style="width: 18%; display: inline-block; margin: 0; padding: 10px 0 10px 0;    text-align: center;">Amount</p>
					</div>
					<div style="border-bottom: 1px solid #000; padding: 0 20px 0 20px;">
						<p style="width: 50%; display: inline-block; border-right: 1px solid #000; margin: 0;    padding: 10px 0 10px 0;">Purchase of {number} PIRB Certificate of Compliance</p>
						<p style="width: 10%; display: inline-block; margin: 0; padding: 10px 0 10px 0;    border-right: 1px solid #000;text-align: center;">10</p>
						<p style="width: 19%;display: inline-block; margin: 0; padding: 10px 0 10px 0;    border-right: 1px solid #000; text-align: center;">135.00</p>
						<p style="width: 18%; display: inline-block; margin: 0; padding: 10px 0 10px 0;    text-align: center;">R1002.00</p>
					</div>
					<div style="padding: 0 20px 0 20px;">
						<p style="width: 50%; display: inline-block; border-right: 1px solid #000; margin: 0;    padding: 10px 0 10px 0;">Courier/Regsitered Post Fee</p>
						<p style="width: 10%; display: inline-block; margin: 0; padding: 10px 0 10px 0;    border-right: 1px solid #000;text-align: center;">1</p>
						<p style="width: 19%;display: inline-block; margin: 0; padding: 10px 0 10px 0;    border-right: 1px solid #000; text-align: center;">500</p>
						<p style="width: 18%; display: inline-block; margin: 0; padding: 10px 0 10px 0;    text-align: center;">500</p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="margin-left: 20px;">
					<p style="font-weight: 600;">Banking Detail</p>
					<p>{PIRB Banking Details line 1}</p>
					<p>{PIRB Banking Details line 2}</p>
					<p>{PIRB Banking Details line 3}</p>
					<p>{PIRB Banking Details line 4}</p>
				</div>
			</td>
			<td>
				<div style="text-align: center; border: 1px solid #000; width: 50%; float: right; margin-right: 20px;">
					<div style="border-bottom: 1px solid #000;">
						<p style="width: 47%; display: inline-block; margin: 0; padding: 6px 0 6px 0;    border-right: 1px solid #000;">Sub Total</p>
						<p style="width: 50%; display: inline-block; margin: 0; padding: 6px 0 6px 0;">R1502.00</p>
					</div>
					<div style="border-bottom: 1px solid #000;">
						<p style="width: 47%; display: inline-block; margin: 0; padding: 6px 0 6px 0;    border-right: 1px solid #000;">VAT Total</p>
						<p style="width: 50%; display: inline-block; margin: 0; padding: 6px 0 6px 0;">1213123</p>
					</div>
					<div>
						<p style="width: 47%; display: inline-block; margin: 0; padding: 6px 0 6px 0;    border-right: 1px solid #000;">Total</p>
						<p style="width: 50%; display: inline-block; margin: 0; padding: 6px 0 6px 0;">123123</p>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>


</body>
</html>