/* add by ashok */


.additonal_text h3, .forget_section h5, .reg_heading h3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}

.additonal_text p, .reg_heading p {
    margin-top: 7px;
    font-size: 14px;
    color: #78797b;
}

.forget_section h5, .forget_section a {
    margin-bottom: 5px;
}

.forget_section {
    text-align: center;
}

.forget_section + .form-group.text-center {
    margin-top: 22px;
}

.forget_section + .form-group.text-center input#SignIN, .reg_footer input#register_now {
    border-radius: 5px;
    padding: 6px 20px 6px 20px;
}

.panel.panel-body.additonal_text, .new_registeration_sec {
    height: 410px;
    vertical-align: top;
}

.new_registeration_sec {
    width: 40%;
    background-color: #fff;
    margin: 10px auto 10px;
    box-shadow: 0 0 16px #ddd !important;
    padding: 21px;
    display: inline-block;
    margin-left: 25px;
}

.reg_heading {
    text-align: center;
}

.reg_heading p + a {
    margin-bottom: 15px;
    display: inline-block;
}

.reg_form input#password, .reg_form input#verifiy_pass {
    width: 36%;
    padding: 0px 10px 0 10px;
    display: inline-block;
    margin: 0 10px 0 10px;
    border-color: #ddeffd;
    border-radius: 5px;
}

.reg_form {
    text-align: center;
}

.reg_form p {
    font-size: 12px;
    color: #78797b;
}

.reg_footer {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.reg_footer a {
    width: 100%;
    display: inline-block;
    margin: 8px 0 20px 0;
}

.logo_section {
    margin: 10px 0 20px 0;
    text-align: center;
}

.login_section {
    text-align: center;
    margin-bottom: 20px;
}

ul.breadcrumb {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.breadcrumb li {
    width: auto;
    display: inline-block;
    font-size: 20px;
    margin: 20px 15px 0 15px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #272727;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.breadcrumb li:after {
  content: "\f105";
  position: relative;
  left: 16px;
  font-family: FontAwesome;
}