.error {
  	color: red;
  	font-size: 13px;
}
div.error {
  	padding: 5px;
}
body.plumber_register .logo img {
  	width: 200px;
}
input[type="submit"]{
  	color:#fff;
	background-color:#0FF;
	padding: 10px 50px;
	border-radius: 0;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}
[show="0"]{
	display: none;
}