.displaynone{
	display : none;
}

.fullwidth{
	width : 100%!important;
}

p.error_class_1{
	font-size: 12px;
    color: red;
    margin-bottom: 10px;
}
.tagline{
	color: red;
}

.authenticationlogo{
	text-align: center;
    margin: 10px 0 30px 0;
}
.specific_mgs{
	width: 100%;
}